public/
themes/hugo-theme-cleanwhite/exampleSite/
themes/hugo-theme-cleanwhite/.github/
themes/hugo-theme-cleanwhite/images/
themes/hugo-theme-cleanwhite/archetypes/post.md
themes/hugo-theme-cleanwhite/README.md